{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Интернет-магазин </h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:route_home_page' %}">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:route_product_list' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:route_contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:route_blog_post_list' %}">Блог</a>
    </nav>
</div>
{% include 'catalog/include/inc_shop_name.html' %}
<div class="container">
    <div class="row text-center">
        <div class="card-body">
            {#{{ form.as_p }}#}
            <div class="mb-3">
                <label for="head">Заголовок</label>
                <h4 class="my-0 font-weight-normal">{{ object.head }}</h4>
            </div>
            <div class="mb-3">
                <label for="slug">Слаг</label>
                <h4 class="my-0 font-weight-normal">{{ object.slug }}</h4>
            </div>
            <div class="mb-3">
                <label for="content">Текст поста</label>
                <h4 class="my-0 font-weight-normal">{{ object.content }}</h4>
            </div>
            <div class="mb-3">
                <label for="preview">Превью</label>
                <h4 class="my-0 font-weight-normal">{{ object.preview }}</h4>
            </div>
            <div class="mb-3">
                <h6 class="my-0 font-weight-normal">Количество просмотров {{ object.views_count }}</h6>
            </div>
            <a href="{% url 'blog:route_blog_post_list' %}" class="p-2 btn btn-outline-primary">Назад</a>
        </form>
        </div>
    </div>
</div>

</body>

{% endblock %}
