{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Интернет-магазин </h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:route_home_page' %}">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:route_product_list' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:route_contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:route_blog_post_list' %}">Блог</a>
    </nav>
</div>
{% include 'catalog/include/inc_shop_name.html' %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.description }}</h4>
                </div>
                <div class="card-body">

                    <h1 class="card-title pricing-card-title">{{ object.price }} рублей</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
             <div class="card mb-4 box-shadow">
                 <div class="card-body">
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <img src="/media/{{ object.product_image }}" height="300" alt="Фото товара отсутствует">
                    </div>
                </div>
             </div>

        </div>
    </div>
</div>
</body>

{% endblock %}


